body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 243, 227);
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}
header {
    background-image: linear-gradient(to right, black, rgb(49, 49, 49), rgb(78, 78, 78));
    padding: 10px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.hamburguer {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
.nav-center h1 {
    text-align: center;
    font-size: 40px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}
a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
}
a:hover {
    color: red;
    transition: color 0.5s ease;
}
a:active{
    color:black;
}
.nav-right {
    width: 33.3%;
    padding-left: 20px;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-center {
    width: 33.3%;
}
.nav-left {
    width: 33.3%;
}
nav ul li {
    padding-right: 40px;
}
.sessao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}
.sessao h1 {
    font-size: 30px;
}
.text {
    background-image: linear-gradient(to right, black, rgb(49, 49, 49), rgb(78, 78, 78));
    width: 60%;
    color: white;
    padding: 20px;
    border-radius: 15px;
    font-size: 20px;
    text-align: justify;
}
.sessao img {
    width: 75%;
    height: auto;
    margin: 30px;
    border-radius: 10px;
}
main {
    color: black;
}
form {
    background-image: linear-gradient(to right, black, rgb(49, 49, 49), rgb(78, 78, 78));
    color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    font-size: 18px;
    width: 75%;
    margin: auto;
    margin-bottom: 10px;
}
#input-text {
    display: flex;
    flex-direction: column;
}
#input-text label {
    margin: 10px;
}
#input-text textarea {
    border-radius: 5px;
    margin-bottom: 10px;
}
#label-radio {
    padding-left: 10px;
}
#input-radio {
    margin-top: 10px;
    padding: 5px 0 5px 10px;
}
#nao:hover {
    transform: scale(1.3);
    cursor: pointer;
}
#sim:hover {
    transform: scale(1.3);
    cursor: pointer;
}
#submit {
    font-size: 15px;
    padding: 8px;
    margin-top: 10px;
    margin-left: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s ease;
    background-color: rgb(255, 243, 227);

}
#submit:hover {
    background-color: lightgray;
    transform: scale(1.05);
}
footer p {
    color: white;
    background-image: linear-gradient(to right, black, rgb(49, 49, 49), rgb(78, 78, 78));
    text-align: center;
    font-size: 19px;
    padding-bottom: 8px;
    margin: 0;
}
@media (max-width: 849px) {
    nav {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .nav-center {
        order: 2;
        width: 100%;
        text-align: center;
    }
    .nav-left {
        order: 1;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        gap: 40px;
        justify-content: center;
    }
    nav ul li{
        padding: 0px;
    }
    .nav-right {
        flex-direction: column;
        width: 100%;
        text-align: center;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.3s ease;
        order: 3;
    }
    .nav-right.show {
        max-height: 50px;
        opacity: 1;
        padding: 10px 0;
    }
    .hamburguer {
        display: flex;
        order: 4;
        margin-bottom: 15px;
    }
    .hamburguer:hover{
        background-color: rgb(78, 78, 78);
        border-radius: 70%;
        transition:  background 0.5s ease;
        padding: 10px;
        transform: scale(1.1);
    }
}
